@mixin clearfix{
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}

@mixin center-hori-verti {
    position: absolute;
    top: 40%;
    left: 50%;
      /* Because this actually works but not as we want it.
        we can use the transform: translate for it to be centered
        as this would be referring to the element itself. */
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*  
0 - 600px:     Phone
600 - 900px:   Tablet portrait
900 - 1200px:  Tablet landscape
1200 - 1800px is where our normal styles apply.
1800 + px: Big desktop

$breakpoint argument choices.
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography + general layout + grid > page layout > components
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone{
        @media only screen and (max-width: 37.5em) {@content}; //600px = 37.5em
    }

    @if $breakpoint == tab-port{
        @media only screen and (max-width: 56.25em) {@content}; //900px = 56.25em
    }

    @if $breakpoint == tab-land{
        @media only screen and (max-width: 75em) {@content}; //1200px = 75em
    }

    @if $breakpoint == big-desktop{
        @media only screen and (min-width: 112.5em) {@content}; //1800px = 112.5em
    }
}

